.newContainer {
    padding-top: 25px;
    padding-bottom: 5px;
    background-image: url('Assets/AdobeStock_483565716.jpeg');
    background-size: cover; /* This will make sure the image covers the entire container */
    background-position: center; /* This will center the image */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
}

.company-logo {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    vertical-align: middle;
    margin-right: 10px; /* Adjust the spacing as needed */
}

* {
    box-sizing: border-box;
}
.header{
    text-align: center;
}
.content h3{
    color: grey;
}
/* Set a background color */
body {
    background-color: #fffcf9;
    font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #000;
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
.timeline::after {
    left: 31px;
}

/* Full-width containers */
.container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
}

/* Make sure that all arrows are pointing leftwards */
.container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Make sure all circles are at the same spot */
.left::after, .right::after {
    left: 15px;
}

/* Make all right containers behave like the left ones */
.right {
    left: 0%;
}
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: white;
    border-radius: 15px; /* Adjust the value as needed */
    overflow: hidden; /* This ensures that the content inside the card does not overflow the rounded corners */
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.tab-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Style tab links */
.tablink {
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 25px;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: rgb(4, 4, 4);
    display: none;
    padding: 20px 20px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fffcf9;

}

.tabcontent h1{
    color: rgb(4, 4, 4);
    text-align: center;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Ensure it is above other content */
}
.about-me-container {
    display: flex;
    flex-direction: row; /* Align items in a row */
    align-items: flex-start; /* Align items to the top */
    justify-content: space-between; /* Add space between the text and image */
    padding: 20px; /* Add padding for better spacing */
}

.about-me-text {
    flex: 1; /* Allow the text to take up available space */
    margin-right: 20px; /* Add some space between the text and the image */
}

.about-me-image {
    width: 100%; /* Make the image take 100% of the container */
    height: auto;
    border-radius: 15%;
}

.about-me-image-container {
    flex: 1; /* Allow the image container to take up available space */
}

/* Media queries - Responsive layout on screens less than 600px wide */
@media screen and (max-width: 600px) {
    .about-me-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
    }
    .about-me-text {
        margin-right: 0; /* Remove right margin */
    }
    .about-me-image {
        margin-top: 20px; /* Add top margin */
    }
    .skills-container {
        flex-direction: column; /* Stack skill cards vertically */
        align-items: center; /* Center skill cards */
    }
    .skill-card {
        width: 100%; /* Make skill cards take full width */
        margin-bottom: 20px; /* Add bottom margin for spacing */
    }
}

/* Skills section styles */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.skill-card:hover {
    transform: scale(1.05);
}

.skill-header {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.skill-header i {
    font-size: 24px;
}

.skill-header h4 {
    font-size: 18px;
    margin: 0;
}

.skill-header span {
    font-size: 16px;
}

.skill-body {
    padding: 15px;
}

.skill-body h5 {
    font-size: 16px;
    margin: 10px 0;
}

.skill-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skill-body ul li {
    background: #f0f0f0;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
}

.skill-body p {
    margin: 10px 0;
}

.bg-blue-600 {
    background-color: #1e3a8a;
}

.bg-green-600 {
    background-color: #047857;
}

.bg-red-600 {
    background-color: #b91c1c;
}

.bg-yellow-600 {
    background-color: #ca8a04;
}

.bg-purple-600 {
    background-color: #6b21a8;
}

.download-button {
    background-color: #6b6d75;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    margin: 20px auto;
    width: 20%;
    padding: 10px;
    /* align-content: center; */
    /* text-align: center; 
    display: block;
    margin: 20px auto;
    border-radius: 10px; */
}